table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #333333; /* Темно-серый цвет текста */
    background-color: lavender; /* Лавандовый цвет фона */
}
th, td {
    border: 1px solid grey; /* Серые границы */
    padding: 8px;
    text-align: center;
}
th {
    background-color: lavender; /* Лавандовый цвет фона для заголовков */
}
del {
    text-decoration: line-through;
}
mark {
    background-color: transparent; /* Прозрачный фон для <mark> */
    border: 2px solid #7b68ee; /* Темно-лавандовый цвет границы */
    border-radius: 50%; /* Скругленные углы для создания круглой формы */
    padding: 2px 5px; /* Внутренний отступ для текста внутри круга */
}